<html>
<head>
    <title>
        500 — Internal Server Error
    </title>
    <style>
        body {
            background: #500;
            color: #722;
        }
        h1 {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            height: 25%;
            margin: auto;
            text-align: center;
            font-size: 5em;
            text-shadow: 1px 1px 1px #300;
        }
    </style>
</head>
<body>
    <h1>
        500 — Internal Server Error
    </h1>
</body>
</html>
