@import 'common';

#footer {
    clear: both;
    footer {
        margin: 1em auto;
        text-align: center;
    }
    nav {
        display: inline-block;
        vertical-align: top;
        margin: 0em 3em;
    }
    li {
        margin-top: 0.3em;
        list-style: none;
    }
}
